In [9]:
data = ['usama','ali','name']
print (data)

['usama', 'ali', 'name']

In [11]:
for a in data:
    print (a)

usama
ali
name

In [37]:
num = ['a','b','c']

In [43]:
for y in num:
    print (z,y)

name a
name b
name c

In [97]:
x = 1
y = 3

while x <= 10:
    print ("3 x",x,"=",y)
    x = x+1
    y = y+3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [27]:
num = int(input("Please enter number:"))
for i in range (1,11):
    print (f"{num} x {i} = {num*i}")

Please enter number: 10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [35]:
table_num = int(input("Enter a number: "))
start_point = int(input("starting point: "))
end_point = int(input("ending point: "))
for i in range (start_point,end_point+1):
    print (f"{table_num} x {i} = {table_num*i}")

Enter a number:  3
starting point:  5
ending point:  10

3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30