# Introduction
In this we will give our introduction.
## Name:-Usama Ali
## Class :- 1st

In [24]:
a = 34
b = 26
c = a+b
print(f"sum of {a} and {b} is",c)

sum of 34 and 26 is 60

In [36]:
xyz = "i am a robot"
print(xyz)

i am a robot

In [47]:
if "man" in xyz:
    print('here we have a robot')

In [53]:
len(xyz)

12

In [59]:
xyz [0:5]

'i am '

In [67]:
"man" not in xyz

True

In [77]:
lower.xyz = upper_xyz()

NameError: name 'upper_xyz' is not defined

In [ ]:
`